@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lato&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*font-family: "Abril Fatface";*/
}
body {
    font-family: "Lato";
    background: linear-gradient(117.38deg, rgba(43, 19, 6, 0.2) -2.69%, rgba(30, 25, 22, 0.092) 115.79%), #171717;
}
/* -- start Header --*/
header {
    background: #121212;
}
.center a {
    color: white;
    text-decoration: none;
}
.logo {
    padding: 8px 24px;
    margin: 16px;
    border-radius: 6px;
    font-family: "Abril Fatface";
    text-align: center;
    background: #DFDFDF;
    display: flex;
    flex-direction: column;
}
.logo a:first-child {
    font-style: normal;
    color: black;
    font-size: 48px;
    margin-top: -15px;
}
.logo a:last-child {
    font-style: normal;
    color: black;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.21em;
    margin-top: -15px;
    width: 130px;
    height: 18px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.center nav {
    width: 85%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.options {
    display: flex;
    justify-content: row;
    align-items: center;
    gap: 0px;
    padding: 15px;
}
.options a {
    font-size: 14px;
    text-align: center;
    padding-right: 19px;
    padding-left: 15px;
}
.options a:hover {
    transition: all 0.2s ease;
    color: #a0a0a0;
}
.options button {
    font-family: "Abril Fatface";
    font-size: 22px;
    width: 100px;
    height: 35px;
    border-radius: 5px;
    margin-left: 20px;
    border: 0;
}
.options button:hover {
    transition: all 0.2 linear;
    transform: scale(1.1);
    cursor: pointer;
    background: #a7a7a7;
}
/* -- end Header -- */


/* -- start Section -- */
.conteudo1_center {
    width: 90%;
    padding: 12px;
    margin: 0 auto;
    margin-top: 128px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
}
.conteudo1_center .info_button {
    width: 80%;
    text-align: center;
}
.info h1 {
    font-family: "Abril Fatface";
    font-size: 45px;
    font-weight: normal;
    color: white;
    text-align: initial;
    margin-left: -135px;
    margin-bottom: 150px;
}
.buttonBuy button {
    width: 288px;
    height: 62px;
    font-size: 30px;
    font-family: "Abril Fatface";
    border: 1px solid #121212;
    color: #FC8C08;
    background: #FEFEFE;
    border-radius: 5px;
}
.buttonBuy button:hover {
    transition: all 0.2s linear;
    background: rgb(212, 212, 212);
    transform: scale(1.1);
    cursor: pointer;
}
.buttonBuy span {
    font-size: small;
    margin-left: -50px;
    font-style: italic;
    color: white;
}
/* --  end section -- */

/* -- start last info */
.ancInfo {
    width: 90%;
    margin: 0 auto;
    margin-top: 140px;
    text-align: center;
}
.ancInfo .buttonMore {
    width: 588px;
    height: 76px;
    margin: 0 auto;
    background: #D9D9D9;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 49.5px;
}
.ancInfo .buttonMore:hover {
    transition: all 0.2s ease;
    background: rgb(197, 197, 197);
    cursor: pointer;
    margin-top: 150px;
}
.ancInfo h2 {
    font-family: 'Abril Fatface';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 0.08em;
    color: #171717;
}
.ancInfo img {
    width: 50px;
    height: 50.49px;
}
/* -- end last info -- */

/* responsive*/
@media only screen and (max-width: 1320px) {
    .conteudo1_center {
        width: 95%;
        padding: 0;
    }
    .main_img img {
        width: 100%;
    }
}
@media only screen and (max-width: 1164px) {
    .conteudo1_center {
        width: 80%;
        padding: 0;
    }
    .info h1 {
        font-size: 30px;
    }
    .center nav {
        width: 95%;
    }
}
@media only screen and (max-height: 880px) {
    .ancInfo {
        margin-top: 60px;
    }
    .conteudo1_center {
        margin-top: 89px;
    }
    .ancInfo .buttonMore:hover {
        transition: all 0.2s ease;
        background: rgb(197, 197, 197);
        cursor: pointer;
        margin-top: 80px;
    }
}
@media only screen and (max-width: 1010px) {
    .options {
        display: none;
    }
    .conteudo1_center {
        width: 99%;
        padding: 5px;
        flex-direction: column;
        margin-top: 28px;
        text-align: center;
        align-items: center;
    }
    .info h1 {
        margin: 0;
        font-size: 20px;
    }
    .main_img img {
        width: 100%;
    }
    .ancInfo .buttonMore {
        margin: 0 auto;
        width: 80%;
        height: 10%;
    }
    .buttonMore h2 {
        font-size: 15px;
    }
    .info_button {
        width: 90%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .buttonBuy button {
        font-size: larger;
        text-align: center;
        margin: 5px;
        margin-top: 20px;
        width: 80%;
    }
    .ancInfo {
        margin-top: 70px;
    }
    .buttonBuy span {
        margin: 0;
        margin-top: -10px;
    }
}